$btn-font: $base-font;
$btn-font-weight: normal;
$btn-default-color: get-color(white);

$btn-default-font-size: 13px;
$btn-default-line-height: 18px;
$btn-default-border: none;
$btn-default-radius: 4px;
$btn-default-padding-left-right: 11px;
$btn-default-padding-top: 9px;
$btn-default-padding-bottom: 11px;
