# npx browserslist — посмотреть список браузеров
[production]
# 15.68 ~ непонятные браузеры
# 84.34 ~ понятные браузеры
# 79.34 ~ понятные браузеры -5%
cover 79% in RU
#> 0.1% in RU
#not ie <= 8